<div class="row">
  <div class="col-xs-12">
    <h2>Destroy User</h2>
    <p ng-if="destroyUser.flash" class="alert alert-info">{{destroyUser.flash}}</p>
    <p>Username: {{destroyUser.username}}</p>
    <p>Role: {{destroyUser.role | userRole}}</p>
    <button type="button" ng-click="destroyUser.submit()" class="btn btn-danger">Confirm Destroy</button>
  </div>
</div>