<div class="row">
  <div class="col-xs-12">
    <h2>Destroy Time</h2>
    <p ng-if="destroyTime.flash" class="alert alert-info">{{destroyTime.flash}}</p>
    <p>User: {{destroyTime.username}}</p>
    <p>Date: {{destroyTime.moment | date}}</p>
    <p>Distance: {{destroyTime.distance | mToKm}}km</p>
    <p>Time: {{destroyTime.time | timeTime}}</p>
    <p>Average speed: {{destroyTime.averageSpeed | number:2}}km/h</p>
    <button type="button" ng-click="destroyTime.submit()" class="btn btn-danger">Confirm Destroy</button>
  </div>
</div>