<div class="row">
  <div class="col-xs-12">
    <h2 ng-if="!editTime.isNew">Edit Time</h2>
    <h2 ng-if="editTime.isNew">New Time</h2>
    <p ng-if="editTime.flash" class="alert alert-info">{{editTime.flash}}</p>
    <form ng-submit="editTime.submit()">
      <div class="form-group" ng-if="editTime.showUser">
        <label for="editTime-user">User:</label>
        <input type="text" name="editTime-user" ng-model="editTime.user" uib-typeahead="user as user.username for user in editTime.searchUsers($viewValue)" class="form-control">
      </div>
      <div class="form-group">
        <label for="editTime-moment">Date:</label>
        <div class="input-group">
          <input type="text" name="editTime-moment" class="form-control" ng-model="editTime.moment" ng-disabled="editTime.loading" uib-datepicker-popup is-open="editTime.isFromOpen">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="editTime.isFromOpen = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="editTime-distance">Distance (km):</label>
        <input type="text" name="editTime-distance" ng-model="editTime.distance" ng-disabled="editTime.loading" class="form-control">
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="editTime-timeHour">Time (h):</label>
            <input type="text" name="editTime-timeHour" ng-model="editTime.timeHour" ng-disabled="editTime.loading" class="form-control">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="editTime-timeMinute">Time (min):</label>
            <input type="text" name="editTime-timeMinute" ng-model="editTime.timeMinute" ng-disabled="editTime.loading" class="form-control">
          </div>
         </div>
      </div>
      <div class="form-group">
        <label for="editTime-averageSpeed">Average Speed (km/h):</label>
        <input type="text" name="editTime-averageSpeed" value="{{editTime.averageSpeed | number:2}}" disabled="disabled" class="form-control">
      </div>
      <button type="submit" ng-disabled="editTime.loading" class="btn btn-primary">
        <span ng-if="!editTime.isNew">Edit Time</span>
        <span ng-if="editTime.isNew">Create Time</span>
      </button>
    </form>
  </div>
</div>