<div class="row">
  <div class="col-xs-12">
    <h2 ng-if="!editUser.isNew">Edit User</h2>
    <h2 ng-if="editUser.isNew">New User</h2>
    <p ng-if="editUser.flash" class="alert alert-info">{{editUser.flash}}</p>
    <form ng-submit="editUser.submit()">
      <div class="form-group">
        <label for="editUser-username">Username:</label>
        <input type="text" name="editUser-username" ng-model="editUser.username" ng-disabled="editUser.loading || !editUser.isNew" class="form-control">
      </div>
      <div class="form-group" ng-if="editUser.showRole">
        <label for="editUser-role">Role:</label>
        <select ng-model="editUser.role" name="editUser-role" class="form-control">
          <option value="C">Common User</option>
          <option value="U">User Manager</option>
          <option value="A">Admin</option>
        </select>
      </div>
      <div class="form-group" ng-if="editUser.showPassword">
        <label for="editUser-password">Password:</label>
        <input type="password" name="editUser-password" ng-model="editUser.password" ng-disabled="editUser.loading" class="form-control">
      </div>
      <div class="form-group" ng-if="editUser.showPassword">
        <label for="editUser-passwordConfirmation">Confirm password:</label>
        <input type="password" name="editUser-passwordConfirmation" ng-model="editUser.passwordConfirmation" ng-disabled="editUser.loading" class="form-control">
      </div>
      <button type="submit" ng-disabled="editUser.loading" class="btn btn-primary">
        <span ng-if="!editUser.isNew">Edit User</span>
        <span ng-if="editUser.isNew">Create User</span>
      </button>
    </form>
  </div>
</div>
