<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.listTimes">Jogging Time Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="app.listTimes">Times</a></li>
        <li ui-sref-active="active"><a ui-sref="app.listReports">Reports</a></li>
        <li ui-sref-active="active" ng-if="home.showListUsersLink"><a ui-sref="app.listUsers">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{home.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.showUser({ id: home.userId })">Account</a></li>
            <li class="separator"></li>
            <li><a href="#" ng-click="home.logout()" ng-disabled="home.loading">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="alert alert-danger" ng-if="home.flash">{{home.flash}}</div>
<div ui-view></div>