<div class="row">
  <div class="col-xs-12">
    <p ng-if="listUsers.flash" class="alert alert-info">{{listUsers.flash}}</p>
    <a ui-sref="app.newUser" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> New user</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Role</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in listUsers.users">
          <td>{{user.username}}</td>
          <td>{{user.role | userRole}}</td>
          <td><a ui-sref="app.showUser({ id: user.id })">Show</a></td>
          <td><a ui-sref="app.editUser({ id: user.id })">Edit</a></td>
          <td><a ui-sref="app.destroyUser({ id: user.id })">Destroy</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>