<div class="row">
  <div class="col-xs-12">
    <ul>
      <li>
        <a ui-sref="app.reportAverageSpeedAndDistancePerWeek">Average speed and distance per week</a>
      </li>
    </ul>
  </div>
</div>