<div class="row">
  <div class="col-xs-12">
    <p ng-if="listTimes.flash" class="alert alert-info">{{listTimes.flash}}</p>
  </div>
  <div class="col-xs-12 col-sm-1 col-md-2">
    <a ui-sref="app.newTime" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i><span class="hidden-sm"> New time<span></a>
  </div>
  <div class="col-xs-12 col-sm-11 col-md-10">
    <form class="form-inline" ng-submit="listTimes.filter()">
      <label name="listTimes-filterFrom">From:</label>
      <div class="input-group">
        <input type="text" name="listTimes-filterFrom" class="form-control" placeholder="Beginning of time" ng-model="listTimes.filterFrom" ng-disabled="listTimes.loading" uib-datepicker-popup is-open="listTimes.isFilterFromOpen">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="listTimes.isFilterFromOpen = true">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </div>
      </div>
      <label name="listTimes-filterTo">To:</label>
      <div class="input-group">
        <input type="text" name="listTimes-filterTo" class="form-control" placeholder="Forever" ng-model="listTimes.filterTo" ng-disabled="listTimes.loading" uib-datepicker-popup is-open="listTimes.isFilterToOpen">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="listTimes.isFilterToOpen = true">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </div>
      </div>
      <div class="form-group" ng-if="listTimes.showUserColumn">
        <label for="listTimes-filterUser">User:</label>
        <input type="text" name="listTimes-filterUser" ng-model="listTimes.filterUser" uib-typeahead="user as user.username for user in listTimes.searchUsers($viewValue)" class="form-control">
      </div>
      <button type="submit" class="btn btn-info" ng-disabled="listTimes.loading"><i class="glyphicon glyphicon-filter"></i><span class="hidden-sm"> Filter</span></button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped" infinite-scroll="listTimes.nextPage()" infinite-scroll-distance="1" infinite-scroll-disabled="listTimes.loadingPage || !listTimes.hasNextPage" infinite-scroll-immediate-check="true">
      <thead>
        <tr>
          <th>Date</th>
          <th ng-if="listTimes.showUserColumn">User</th>
          <th>Distance</th>
          <th>Time</th>
          <th>Average Speed</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="time in listTimes.times">
          <td>{{time.moment | date}}</td>
          <td ng-if="listTimes.showUserColumn"><a ui-sref="app.showUser({ id: time.user.id })">{{time.user.username}}</a></td>
          <td>{{time.distance | mToKm}}km</td>
          <td>{{time.time | timeTime}}</td>
          <td>{{time.averageSpeed | number:2}}km/h</td>
          <td><a ui-sref="app.showTime({ id: time.id })">Show</a></td>
          <td><a ui-sref="app.editTime({ id: time.id })">Edit</a></td>
          <td><a ui-sref="app.destroyTime({ id: time.id })">Destroy</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 text-muted text-center" ng-if="listTimes.loadingPage">
    <i class="glyphicon glyphicon-hourglass"></i> Loading more entries ...
  </div>
  <div class="col-xs-12 text-muted text-center" ng-if="!listTimes.hasNextPage">
    <i class="glyphicon glyphicon-ok"></i> No more entries
  </div>
</div>
