<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Jogging Time Tracker</h1>
  </div>
</div>
<div class="row">
  <form class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4" ng-submit="login.submit()">
    <p ng-if="login.flash" class="alert alert-info">{{login.flash}}</p>
    <div class="form-group">
      <input class="js-login-username form-control" type="text" placeholder="Username" autofocus ng-model="login.username" ng-disabled="login.loading">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password" ng-model="login.password" ng-disabled="login.loading">
    </div>
    <button class="btn btn-primary btn-block" type="submit" ng-disabled="login.loading">Login</button>
  </form>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="form-links">
      <li><a ui-sref="signup">Sign up</a></li>
    </ul>
  </div>
</div>