<div class="row">
  <div class="col-xs-12">
    <h2>Average speed and distance per week</h2>
    <p ng-if="reportAverageSpeedAndDistancePerWeek.flash" class="alert alert-info">{{reportAverageSpeedAndDistancePerWeek.flash}}</p>
    <form class="form-inline" ng-submit="reportAverageSpeedAndDistancePerWeek.submit()">
      <div class="form-group">
        <label for="reportAverageSpeedAndDistancePerWeek-from">From:</label>
        <div class="input-group">
          <input type="text" name="reportAverageSpeedAndDistancePerWeek-from" class="form-control" placeholder="Beginning of time" ng-model="reportAverageSpeedAndDistancePerWeek.from" ng-disabled="reportAverageSpeedAndDistancePerWeek.loading" uib-datepicker-popup is-open="reportAverageSpeedAndDistancePerWeek.isFromOpen">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="reportAverageSpeedAndDistancePerWeek.isFromOpen = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="reportAverageSpeedAndDistancePerWeek-to">To:</label>
        <div class="input-group">
          <input type="text" name="reportAverageSpeedAndDistancePerWeek-to" class="form-control" placeholder="Forever" ng-model="reportAverageSpeedAndDistancePerWeek.to" ng-disabled="reportAverageSpeedAndDistancePerWeek.loading" uib-datepicker-popup is-open="reportAverageSpeedAndDistancePerWeek.isToOpen">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="reportAverageSpeedAndDistancePerWeek.isToOpen = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="reportAverageSpeedAndDistancePerWeek.showUser">
        <label for="reportAverageSpeedAndDistancePerWeek-user">User:</label>
        <input type="text" name="reportAverageSpeedAndDistancePerWeek-user" ng-model="reportAverageSpeedAndDistancePerWeek.user" uib-typeahead="user as user.username for user in reportAverageSpeedAndDistancePerWeek.searchUsers($viewValue)" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Execute</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <uib-tabset active="active" ng-if="reportAverageSpeedAndDistancePerWeek.entries.length > 0">
      <uib-tab index="0" heading="Graph">
        <canvas class="chart chart-line" chart-data="reportAverageSpeedAndDistancePerWeek.data" chart-labels="reportAverageSpeedAndDistancePerWeek.labels" chart-legend="true" chart-series="reportAverageSpeedAndDistancePerWeek.series"></canvas>
      </uib-tab>
      <uib-tab index="1" heading="Table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Week</th>
              <th>Total Distance</th>
              <th>Average Speed</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entry in reportAverageSpeedAndDistancePerWeek.entries">
              <td>{{entry.week}}</td>
              <td>{{entry.distance | mToKm}}km</td>
              <td>{{entry.averageSpeed | number:2}}km/h</td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
    </uib-tabset>
  </div>
</div>