<div class="row">
  <div class="col-xs-12">
    <h2>Show User</h2>
    <p ng-if="showUser.flash" class="alert alert-info">{{showUser.flash}}</p>
    <p>Username: {{showUser.username}}</p>
    <p>Role: {{showUser.role | userRole}}</p>
    <a ui-sref="app.editUser({ id: showUser.id })">Edit</a>
    <a ui-sref="app.destroyUser({ id: showUser.id })" ng-if="showUser.showDestroy">Destroy</a>
  </div>
</div>