<div class="row">
  <div class="col-xs-12">
    <h2>Show Time</h2>
    <p ng-if="showTime.flash" class="alert alert-info">{{showTime.flash}}</p>
    <p>User: {{showTime.username}}</p>
    <p>Date: {{showTime.moment | date}}</p>
    <p>Distance: {{showTime.distance | mToKm}}km</p>
    <p>Time: {{showTime.time | timeTime}}</p>
    <p>Average speed: {{showTime.averageSpeed | number:2}}km/h</p>
    <a ui-sref="app.editTime({ id: showTime.id })">Edit</a>
    <a ui-sref="app.destroyTime({ id: showTime.id })">Destroy</a>
  </div>
</div>