<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Jogging Time Tracker</h1>
  </div>
</div>
<div class="row">
  <form class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4" ng-submit="signup.submit()">
    <p ng-if="signup.flash" class="alert alert-info">{{signup.flash}}</p>
    <div class="form-group">
      <label for="signup-username">Username:</label>
      <input class="form-control js-signup-username" type="text" placeholder="Username" autofocus name="signup-username" ng-model="signup.username" ng-disabled="signup.loading">
    </div>
    <div class="form-group">
      <label for="signup-username">Password:</label>
      <input class="form-control" type="password" placeholder="Password" name="signup-password" ng-model="signup.password" ng-disabled="signup.loading">
    </div>
    <div class="form-group">
      <label for="signup-username">Confirm password:</label>
      <input class="form-control" type="password" placeholder="Confirm password" name="signup-passwordConfirmation" ng-model="signup.passwordConfirmation" ng-disabled="signup.loading">
    </div>
    <button class="btn btn-primary btn-block" type="submit" ng-disabled="signup.loading">Sign up</button>
  </form>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="form-links">
      <li><a ui-sref="login">Login</a></li>
    </ul>
  </div>
</div>